[Unit]
Description=RW Filesystem
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target root.mount
After=local-fs-pre.target

[Mount]
What=/dev/mmcblk0p1
Where=/mnt
Type=ext4
Options=defaults,nofail

[Install]
WantedBy=local-fs.target
