[Unit]
Description=Overlay Filesystem
ConditionPathExists=/mnt/tmp
ConditionPathExists=/mnt/overlay
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
After=local-fs-pre.target mnt.mount

[Mount]
What=overlay
Where=/root
Type=overlay
Options=lowerdir=/usr/local/default,upperdir=/mnt/overlay,workdir=/mnt/tmp

[Install]
WantedBy=local-fs.target
